html {
	font-family: 'Lato', sans-serif;
}

body {
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

#app {
	max-width: 720px;
	margin: 0 auto;
	background-color: white;
}
