html {
	font-family: 'Lato', sans-serif;
}

body {
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
}

a {
	color: rgb(65, 124, 235);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.icon {
	display: inline-block;
	width: 18px;
	height: 18px;
	background-size: 100% 100%;

	&_github {
		background-image: url('./assets/GitHub-Mark-120px-plus.png');
	}
}

#app {
	max-width: 720px;
	margin: 0 auto;
	background-color: white;
}
